# Introdução a programação em Python

# Parte I

0. Orientação - Como executar código neste notebook
1. Valores de impressão
2. Usando comentários
3. Variáveis, atribuição e redesignação
4. Tipos de dados básicos
5. Operações matemáticas em Python
6. Operações lógicas em Python
7. Operadores de comparação

### 0. Orientação ¶
- Os Jupyter Notebooks, são uma maneira de executar o código de forma interativa no seu navegador.
- Notebooks são feitos de células
- Cada célula contém código ou texto.
- As células de código executam o código, as células de texto processam o texto
- Para executar uma célula, clique na célula e clique no botão 'Run' ou faça "shift + Enter" no teclado.

### 1. Imprimindo com a função `print()`

In [1]:
print("Olá Mundo !!!")

Olá Mundo !!!

In [2]:
texto = "Today is a great day to learn"
print(texto)

Today is a great day to learn

In [3]:
print ( "Use o comando print" ) 
print ( "Para imprimir" ) 
print ( "Imprime cada linha" )

Use o comando print
Para imprimir
Imprime cada linha

In [4]:
"As células do notebook imprimem automaticamente a última linha do código"

'As células do notebook imprimem automaticamente a última linha do código'

In [5]:
"Múltiplas linhas" 
"não são impressas automaticamente" 
"apenas a última linha"

'apenas a última linha'

In [6]:
print ( "O comando print é importante." ) 
print ( "Quando queremos imprimir cada linha" )

O comando print é importante.
Quando queremos imprimir cada linha

### 2.  Comentários são como notamos nosso código com texto descritivo 

- Comentários em Python são criados pelo símbolo de hashtag.
- A hashtag "comenta" tudo à direita da hashtag.
- Existem comentários no código, mas não são executados.
- Comentar seu código é uma prática recomendada.
- Uma hashtag no início de uma linha a tornará um comentário.

In [8]:
#Este é um comentário. Execute esta célula. Você vê alguma coisa? Por que ?

In [9]:
# Primeiro, execute esta célula. 
# Em seguida, exclua a hashtag no início da última linha. 
# Por último, execute a célula novamente. 
# print ("Este é um comando de impressão 'comentado'")

### 3. Variáveis apontam para valores e lhes dão um nome 

- "Atribuindo uma variável" significa vincular valor a uma variável
- Variáveis nos permitem nomear valores

In [13]:
# Variáveis mantêm valores que usamos posteriormente no programa pelo nome. 
m = "Olá pessoal!"
m="Cruzeiro é o maior de  minas"
m

'Cruzeiro é o maior de  minas'

In [ ]:
maiordeminas = "Cruzeiro" 
print ( "O maior time de Minas é o " ,  maiordeminas)

In [15]:
maiordeminas = "Cruzeiro"
frango = "Galo"
print ( "O maior time de Minas é o {}. Chupa {}!!!".format(maiordeminas,frango))

O maior time de Minas é o Cruzeiro. Chupa Galo!!!

### 4. Tipos de Dados 

Cada parte dos dados tem duas características fundamentais:
- O valor dos dados em si.
- Todo valor tem um tipo de dado que explica que tipo de dado é esse valor.
- Por exemplo, o número inteiro 2 tem o valor 2 e o tipo de dados é número inteiro.
- Alguns tipos de dados:
    - None
    - Boolean
    - Integer
    - Float
    - String

In [18]:
# O tipo de dados "None" representa a ausência de um valor.
type(None) 
a=None
type(a)

NoneType

In [19]:
# Números sem decimal são inteiros. Os números inteiros podem ser negativos ou positivos. 
type(-99)

int

In [21]:
type(2.3)

float

In [25]:
type("Genética")

str

In [26]:
# True e False são os únicos dois valores booleanos. 
type(True)

bool

### 5. Operações matemáticas em Python 

A ordem das operações no Python segue a hierarquia:

- Parênteses
- Expoentes
- Multiplicação
- Divisão
- Adição
- Subtração

###  Operadores matemáticos em Python 


- `+` Adição
- `-` Subtração
- `*` Multiplicação
- `/` Divisão
- `%` fornece o restante da divisão do primeiro número pelo segundo. (chamado operador de módulo)
- `**` é o operador de exponenciação.Por exemplo 2 elevado à 3ª potência é `2**3`

In [27]:
"Olá" + "Mundo"

'OláMundo'

### 6. Operações Lógicas em Python 

As operações lógicas mais comuns são:

    - And
    - Or
    - Not

In [28]:
#O operador "Not" altera o valor booleano.

is_raining = False
not is_raining

True

In [29]:
# Valores booleanos atribuídos às variáveis 

v1 = True
v2 = True
v3 = False

In [31]:
print(v1 and v3)

False

In [32]:
print(v1 and v2)

True

In [33]:
print(v1 or v3)

True

In [35]:
v = True
if v:
    print("A variável v possui valor True")

A variável v possui valor True

In [38]:
v=False
if v:
    print("A variável v possui valor True")
else:
    print("A variável v possui valor False")

A variável v possui valor False

### 7. Operações de comparação na vida cotidiana ¶
Operadores de comparação comparam dois valores e nos dão uma resposta Verdadeira ou Falsa

Algumas comparações no mundo real:
- Essas duas coisas são iguais?
- Essas duas coisas não são iguais?
- A é maior que B?
- A é maior ou igual a B?
- A é menor que B?
- A é menor ou igual a B?

### Python Comparison Operators compare two values and return a True or False
- `==` compara dois valores para ver se eles são o mesmo valor.
- `!=` pergunta se os valores em cada lado do operador não são os mesmos.
- `<` and `<=` menores que e menor que ou iguais a,respectivamente.
- `>` and `>=` maiores que e maior que ou iguais a, respectivamente.

In [39]:
print(5 == 5)
print(-4 + 4 == 0)

True
True

In [40]:
5 < 10

True

In [42]:
6<=3

False

In [44]:
print("Hello" == "Goodbye")
print("Hello" != "Goodbye") # != means "not equal to"

False
True

# Parte II:
1. Listas
2. Funções
3. Tuplas
4. Dicionários ¶

Com programação e análise, trabalhamos com muitas listas de números.
O tipo de dados primário no Python para armazenar listas de números é chamado de list. É como uma matriz em outras linguagens de programação.

### 1. As listas são listas ordenadas de valores. 
- Criado com colchetes
- As listas podem conter qualquer valor
- As listas podem conter listas.
- lista como uma coluna de valores em uma planilha (lista unidimensional)
- uma lista de listas como uma planilha inteira (lista bidimensional)

In [1]:
# As listas são criadas com colchetes. Cada item da lista é separado por vírgula. As listas podem conter qualquer tipo de dados 
names  =  [ "John" ,  "Henrique" ,  "George" ] 
print ( names )

['John', 'Henrique', 'George']

In [2]:
names[0]

'John'

In [3]:
names[0:2]

['John', 'Henrique']

In [4]:
# As listas possuem funções 
names.append("Paula") # Don't forget Ringo
print(names)

['John', 'Henrique', 'George', 'Paula']

In [5]:
names.reverse()
print(names)

['Paula', 'George', 'Henrique', 'John']

In [6]:
del names[3]

In [7]:
names

['Paula', 'George', 'Henrique']

In [8]:
names[-1]

'Henrique'

In [9]:
names.extend(['Manu','Alexa'])
print(names)

['Paula', 'George', 'Henrique', 'Manu', 'Alexa']

In [10]:
odds = [1, 3, 5, 7, 9, 11, 13, 17, 19, 21]

In [11]:
Two_Numbers = [1,2]
All_Numbers = [Two_Numbers, odds]
All_Numbers

[[1, 2], [1, 3, 5, 7, 9, 11, 13, 17, 19, 21]]

In [13]:
All_Numbers[0][1]

2

In [14]:
All_Numbers[1].sort(reverse=True)
All_Numbers[1]

[21, 19, 17, 13, 11, 9, 7, 5, 3, 1]

In [24]:
# for variable in list:
for number,i in zip(odds,range(0,12)):
    if number==11:
        print("A posição do número 11 é",i)
print("O loop está completo.")

A posição do número 11 é 4
O loop está completo.

### 2. Funções 
Existem 2 tipos de funções no Python: funções internas e definidas pelo usuário.

Algumas funções incorporadas:
- type, print, len, sum, abs, range, list, min, max, round, etc...
- Para obter uma lista completa das funções de compilação, consulte https://docs.python.org/3/library/functions.html

In [25]:
numbers = [2, 3, 5, 7]
sum(numbers)

17

In [26]:
len(numbers)

4

In [2]:
programming_language = "Python"
print("O número de letras na palavra Python é {}".format(len(programming_language)))

O número de letras na palavra Python é 6

In [28]:
len(programming_language)

6

In [32]:
name, age = 'Peter,28'

ValueError: too many values to unpack (expected 2)

In [33]:
'Peter,28'.split(',')

['Peter', '28']

In [34]:
name, age = 'Peter,24'.split(',')

In [35]:
print(name)
print(age)

Peter
24

### Criando Funções

In [36]:
def simple():
    print ("Minha primeira função")
simple()

Minha primeira função

In [37]:
def verifica_par(number):
    resto = number % 2 # o operador% retorna o restante da divisão inteira do número à esquerda pelo número à direita 
    if resto == 0:
        print('O número {} é par'.format(number))
        return True
    else:
        print('O número {} não é par'.format(number))
        return False
        
print(verifica_par(2))
print(verifica_par(4))
print(verifica_par(2.3))
print(verifica_par(3))

O número 2 é par
True
O número 4 é par
True
O número 2.3 não é par
False
O número 3 não é par
False

In [38]:
def compare_the_two(x,y):
    if x > y:
        print ("Maior")
    elif x < y:
        print ("Menor")
    else:
        print ("Igual")

In [39]:
compare_the_two(10,10)

Igual

In [40]:
# lots of built in functions work on sequences
names = ["John", "Juca", "Raul", "Zezin"]

print("O número de itens da lista é", len(names))

O número de itens da lista é 4

In [41]:
numbers = [2, 3, 5, 7]
print("O maior valor da lista é", max(numbers))
print("O menor valor da lista é", min(numbers))

O maior valor da lista é 7
O menor valor da lista é 2

In [43]:
# def keyword to define, name_of_function, parentheses for parameters
def square(number):
    return number * number # return is the output we hand back to the code that called the function (calling == execute == run)

square(2)

4

In [48]:
# Como calcular a média de uma lista de números. 
numbers = [2, 3, 5, 7]
total = sum(numbers)
total / len(numbers)

4.25

### 3. Tuplas

In [50]:
Cars = "BMW", "Dodge", "Ford"
Cars

('BMW', 'Dodge', 'Ford')

In [51]:
Cars = ("BMW", "Dodge", "Ford")
Cars

('BMW', 'Dodge', 'Ford')

In [52]:
Cars[1]

'Dodge'

### 4. Dicionários

In [55]:
prof = {'Nome':'Cosme Damião Cruz','Animal_Estimacao': "Gato", 'software': ['Genes', 'Gbol','Gqmol','GPop'], 'Orientados': ['Cristiano','Junin','Jaque','Ivan','Iara','Rafael']}

In [56]:
prof

{'Nome': 'Cosme Damião Cruz',
 'Animal_Estimacao': 'Gato',
 'software': ['Genes', 'Gbol', 'Gqmol', 'GPop'],
 'Orientados': ['Cristiano', 'Junin', 'Jaque', 'Ivan', 'Iara', 'Rafael']}

In [57]:
prof['Nome']

'Cosme Damião Cruz'

In [58]:
prof['Orientados']

['Cristiano', 'Junin', 'Jaque', 'Ivan', 'Iara', 'Rafael']

In [59]:
prof['Aposentado'] = 'Sim'

In [60]:
prof['Aposentado']

'Sim'

In [61]:
prof

{'Nome': 'Cosme Damião Cruz',
 'Animal_Estimacao': 'Gato',
 'software': ['Genes', 'Gbol', 'Gqmol', 'GPop'],
 'Orientados': ['Cristiano', 'Junin', 'Jaque', 'Ivan', 'Iara', 'Rafael'],
 'Aposentado': 'Sim'}

# Parte III: List comprehensions
A (List comprehensions) compreensão de lista é uma maneira pitônica de expressar um 'loop for' que se anexa a uma lista em uma única linha de código.

In [64]:
# Então, como é a compreensão de uma lista? Vamos escrever um para criar uma lista de números pares entre 0 e 9:

[i for i in range(10) if i%2 == 0]

[0, 2, 4, 6, 8]

Isso foi fácil de ler e bastante intuitivo de entender. Sim?

E abaixo está o equivalente do loop for para a mesma lógica:

In [65]:
result = []
for i in range(10):
    if i%2 == 0:
        result.append(i)

In [66]:
result

[0, 2, 4, 6, 8]

### Exemplo Tipo 1: loop for simples

#### Declaração do problema: Coloque cada número de mylist ao quadrado e armazene o resultado como uma nova lista.

In [67]:
# O 'For Loop' itera sobre cada número, coloca o número ao quadrado e anexa a uma lista.

# Para a versão em loop:

mylist = [1,2,3,4,5]

# For Loop Version
result = []
for i in mylist:
    result.append(i**2)

print(result)
#> [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

Como converter isso para uma compreensão de lista? Pegue a saída na mesma linha da condição for e coloque em um par de [ .. ].

In [68]:
result = [i**2 for i in [1,2,3,4,5]]
print(result)

[1, 4, 9, 16, 25]

### Exemplo Tipo 2: loop for com filtragem condicional
#### E se você tiver uma condição if no loop for? Digamos que você queira quadrado apenas os números pares:

#### Declaração do problema : Coloque apenas os números pares de myliste ao quadrado,  armazene o resultado em uma lista.

In [69]:
# Para a versão em loop:

mylist = [1,2,3,4,5]

# For Loop Version
result = []
for i in mylist:
    if i%2==0:
        result.append(i**2)

print(result)

[4, 16]

Na compreensão da lista , adicionamos a 'condição if' após o loop for, se você deseja filtrar os itens.

In [70]:
# List Comprehension Version
result = [i**2 for i in [1,2,3,4,5] if i%2==0]
print(result)

[4, 16]

### Exemplo Tipo 3: loop for com a condição 'if' e 'else'

#### Vamos ver um caso em que você tem uma condição 'if-else' no loop for.

#### Declaração do Problema: Em mylist, eleve o número ao quadrado  se for par; caso contrário, eleve ao cubo.

In [71]:
# Para a versão em loop:

mylist = [1,2,3,4,5]
# For Loop Version
result = []
for i in mylist:
    if i%2==0:
        result.append(i**2)
    else:
        result.append(i**3)

print(result)

[1, 4, 27, 16, 125]

No exemplo anterior, queríamos filtrar os números pares. Mas neste caso, não há filtragem. Então, coloque o if e else antes do loop for.

In [75]:
[i**2 if i%2==0 else i**3 for i in mylist]

[1, 4, 27, 16, 125]

### Exemplo Tipo 4: Vários for-loops
#### Agora vamos ver um exemplo um pouco complicado que envolve dois For-Loops.

#### Declaração do problema: Achate a matriz mat (uma lista de listas) mantendo apenas os números pares.

In [76]:
# Para a versão em loop:

# For Loop Version
mat = [[1,2,3,4], [5,6,7,8], [9,10,11,12], [13,14,15,16]]
result = []
for row in mat:
    for i in row:
        if i%2 == 0:
            result.append(i)

print(result)

[2, 4, 6, 8, 10, 12, 14, 16]

In [77]:
print("numero de linhas ", len(mat))
print("number de colunas ", len(mat[0]))

numero de linhas  4
number de colunas  4

Você pode imaginar como seria a versão equivalente à compreensão da lista? É quase o mesmo que escrever as linhas do loop for, uma após a outra.

In [78]:
# List Comprehension version
[i for row in mat for i in row if i%2==0]

[2, 4, 6, 8, 10, 12, 14, 16]

### Exemplo Tipo 5: Saídas emparelhadas
#### Declaração do problema: Para cada número em list_b, insira o número e sua posição mylist como uma lista de tuplas.

In [79]:
# Versão For-Loop:

mylist = [9, 3, 6, 1, 5, 0, 8, 2, 4, 7]
list_b = [6, 4, 6, 1, 2, 2]

result = []
for i in list_b:
    result.append((i, mylist.index(i)))

print(result)

[(6, 2), (4, 8), (6, 2), (1, 3), (2, 7), (2, 7)]

Nesse caso, a saída possui 2 itens em vez de um. Então, emparelhe os dois como uma tupla e coloque-o antes da instrução for.

In [80]:

[(i, mylist.index(i)) for i in list_b]

[(6, 2), (4, 8), (6, 2), (1, 3), (2, 7), (2, 7)]

#### 3. Exercícios (aumento do nível de dificuldade)

Questão 1. Dada uma lista 1D, torne negativo todos os elementos que estão entre 3 e 8, usando a compreensão da lista.

In [ ]:
# Entrada
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Saída desejada
[1, 2, -3, -4, -5, -6, -7, -8, 9, 10]

### Usando while

In [84]:
x = 0
while x <=20:
    print (x, end=" ")
    x = x + 2

0 2 4 6 8 10 12 14 16 18 20

In [85]:
x = 0
while x <= 20:
    print (x, end=" ")
    x += 2

0 2 4 6 8 10 12 14 16 18 20

In [86]:
prices = {
    "macarrão" : 4,
    "lasanha"  : 5,
    "hamburger" : 2
   }
quantity = {
    "macarrão" : 6,
    "lasanha"  : 10,
    "hamburger" : 0
    }

In [87]:
money_spent = 0

for i in prices:
    money_spent = money_spent + (prices[i]*quantity[i])

In [88]:
money_spent

74